autom4te.cache/
m4/
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h*
config.sub
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
*.o
*.la
*.lo
lighttpd
cscope.*
lemon
lighttpd-angel
proc_open
distribute.sh
tests/
doc/
src/.deps
src/Makefile
stamp-h1
libtool
